body {
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    margin: 0;

}

#red {
    color: red;
    font-size: larger;
    font-weight: 900;
    font-style: oblique;
}

.orange {
    color: orange;
}

.flexible {
    display: flex;
    border-bottom: 20px groove rgb(255, 98, 0)
}

.half-width {
    width: 50%;
    padding-left: 7%;
}

.half-width img {
    width: 70%;
    margin-left: 150px;
    
}

.link-button {
    text-decoration: none;
    border-radius: 7px;
    background-image: radial-gradient(orange, rgba(219, 58, 0, 0.718));
    padding: 10px;
    color: aliceblue;
    font-weight: 800;
    box-shadow: -5px 5px 20px orangered;
}
.link-button:hover {
    background-image: radial-gradient(orange, rgba(0, 0, 0, 0.718));
    box-shadow: -5px 5px 20px rgb(154, 41, 0);


}


.top-banner {
    background-image:linear-gradient(to right ,rgba(228, 53, 0, 0.463), rgba(11, 3, 0, 0)), url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {

    background-image:linear-gradient(to left ,rgba(228, 53, 0, 0.463), rgba(11, 3, 0, 0)), url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 10px;
}

.half-width2 {
    width: 50%;
    padding-left: 2%;
}

.half-width2 img {
    width: 70%;
    margin-left: 10px;
}

.midpadding {
    padding-right: 130px;
    text-align: justify;
}

.box-shadow {
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: -10px 10px 40px orangered;
}

.box-shadow2 {
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: -10px 10px 40px blue;
}

#future-fullstack {
    border-left: 10px solid orangered;
    border-right: 3px solid orangered;
    border-radius: 2%;

    text-align: left;
    padding-right: 3%;
    padding-left: 65px;
}

#NOOB {
    border-left: 10px solid blue;
    border-right: 3px solid blue;
    border-radius: 2%;
    text-align: left;
    padding-right: 3%;
    padding-left: 65px;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

.experience {
    background-image:linear-gradient(to top,rgba(228, 53, 0, 0.463), rgba(11, 3, 0, 0)), url(developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.exp {
    margin-left: 5%;
}

footer {
    text-align: center;
    background-image: linear-gradient(to top,rgba(228, 53, 0, 0.609) 50%, rgba(11, 3, 0, 0)) ; 
    background-color: rgba(143, 143, 143, 0.632);
    padding: 5%;
    border: 5px solid rgb(148, 30, 0);
}