body {
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    margin: 0;

}

.orange {
    color: orange;
}

.flexible {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 7%;
}

.half-width img {
    width: 70%;
    margin-left: 150px;
}

.link-button {
    text-decoration: none;
    border-radius: 7px;
    background-image: linear-gradient(orange, orangered);
    padding: 10px;
    color: aliceblue;
    font-weight: 800;
    box-shadow: -5px 5px 20px orangered;
}

.top-banner {
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {

    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width2 {
    width: 50%;
    padding-left: 2%;
}

.half-width2 img {
    width: 70%;
    margin-left: 10px;
}

.midpadding {
    padding-right: 130px;
    text-align: justify;
}

.box-shadow {
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: -10px 10px 40px orangered;
}

.box-shadow2 {
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: -10px 10px 40px blue;
}

#future-fullstack {
    border-left: 10px solid orangered;
    text-align: left;
    padding-right: 3%;
    padding-left: 65px;
}

#NOOB {
    border-left: 10px solid blue;
    text-align: left;
    padding-right: 3%;
    padding-left: 65px;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

.experience {
    background-image: url(developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

footer {
    text-align: center;
}